html{
	background: url(imagenes/fondorosa.jpg);
	background-size: 1600px 1000px
}

h1{
	font: bold 50px Constantia;

}

p{
	font: bold 50px Constantia;

}

a{
	background: peachpuff;
}
a{
	display: block;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	width: 300px;
	height: 65px;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: paleturquoise;
	color: black;
	font-size: 18px;
	border: 1px solid rosybrown;
	margin-bottom: 20px;
	font-weight: 800;
	transition: background 1s, color 1s;
	cursor: pointer;
	font-family: "mosterrat"
	padding: 10px 20px;
}
a:hover{
	background: mediumturquoise;
	color:sienna;

}
